<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form [formGroup]="students" (ngSubmit)="save()">
                <div class="form-group">
                    <label for="exampleInputEmail1">Name</label>
                    <input type="email" formControlName="Name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter email">
                        
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Contact</label>
                    <input type="contact" formControlName="Contact" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" formControlName="Email" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter email">
                    </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Address</label>
                    <input type="email" formControlName="Address" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter email">
                   </div>
                 <button  type="submit" class="btn btn-primary">Submit</button>
                 <button  type="submit" class="btn btn-primary"(click)="update()">Update</button>
            </form>
        </div>
        <div class="col-md-6">
        <h6>Student List</h6>
        <hr>
        <table class="table">
  <thead>
    <tr>
    <th scope="col">Sid</th>
      <th scope="col">Name</th>
      <th scope="col">Password</th>
      <th scope="col">Email</th>
      <th scope="col">Address</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of studentList; let i= index">
      <th scope="row">{{i+1}}</th>
      <td>{{item.Name}}</td>
      <td>{{item.Contact}}</td>
      <td>{{item.Email}}</td>
      <td>{{item.Address}}</td>
      <td>
              <i (click)="deletRecord(item)" class="fa fa-trash ml-auto"  area-hidden="true"></i>
              <i (click)="editRecord(item)" class="fa fa-pencil" area-hidden="true"></i>
      </td>
          
    </tr>
    </tbody>
</table>
        </div>
    </div>
</div>

<body>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>